@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

/* Estilo global */
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #f8f9fa;
    font-weight: 300;
    font-size: 20px;
}

#reveste-principal, #reveste-sec {
    font-family: 'Dancing Script', cursive;
    font-weight: 550;
    font-size: 40px;
}

#reveste-principal {
    margin-left: 8%;
}

.sparkles {
    height: 10%;
    width: 10%;
    margin-left: -15px;
}

.home, .seller, .favorites, .shopping-bag, .user {
    height: 30px;
    width: 30px;
}

.home, .favorites, .shopping-bag {
    margin-right: 15px;
}

.favorites {
    margin-bottom: 10px;
}

.navIncon, .seller {
    margin-bottom: 5px;
}

.user {
    margin-bottom: 10px;
}

/* Estilização customizada da navbar */
.navbar-custom {
    background-color: #9a8fc8; 
    font-size: 20px;
    justify-content: center;
}

.navbar-custom .nav-link {
    text-align: center;
}

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link {
    color: #ffffff; 
    font-weight: 500;
}

.navbar-custom .nav-link:hover {
    color:#7a6aae; 
}
  
.navbar-custom .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #ffffff; 
}
  
.navbar-toggler {
    background-color: #ffffff; 
}
  
.navbar-toggler-icon {
    filter: invert(100%);
}
  

/* Header */
.bg-header {
    height: 280px;
    padding-top: 60px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #9a8fc8;
    background-image: url('../public/images/pexels-photo-5490975.jpeg'); 
}

header h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
}

header p {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.4);
}

.lead {
    font-size: 20px;
    font-weight: 400;
}

/* Cartão de produtos */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
  
.card-title {
    color: #7a6aae;
}

.card-text {
    color: #333;
}

.card-img-top {
    height: 400px; 
    object-fit: cover;
    width: 100%;
}

#produtos {
    padding: 0 50px;
}

.container {
    max-width: 1140px;
}

/* Footer */
footer {
    background-color: #84b69f;
    padding: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

/* Estilo para os painéis de usuário e vendedor */
.list-group-item {
    background-color: #f8f9fa;
    color: #333;
}

.list-group-item a {
    text-decoration: none;
    color: #333;
}

.list-group-item a:hover {
    color: #9a8fc8;
    font-weight: bold;
}

h2 {
    color: #9a8fc8;
}

/* Ícones das redes sociais */
.socialsIcon {
    height: 35px;
    width: 35px;
    padding: 7px;
}

/* Estilização para categorias */
.categories {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
}
  
.categories-list {
    display: flex;
    justify-content: center; /* Centraliza as categorias horizontalmente */
    list-style: none;
    margin: 0;
    padding: 0;
    color: #333;
}

.categories-list > li {
    position: relative;
    margin: 0 15px; /* Espaçamento entre as categorias */
}

.category {
    font-weight: bold;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: #333;
}

.category:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.subcategory {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    z-index: 1000;
    color: #333;
}

.subcategory > li {
    position: relative;
}

.subcategory li {
    padding: 8px 20px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #333;
}

.subcategory li, .subcategory a {
    color: #333;
    text-decoration: none;
}

.subcategory li:hover {
    background-color: #f0f0f0;
}

.subcategory ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    z-index: 1000;
    color: #333;
}

.subcategory li:hover > ul {
    display: block;
}

/* Exibe as subcategorias ao passar o mouse */
.categories-list > li:hover > .subcategory {
    display: block;
}

/* Responsividade: ajusta o menu para telas menores */
@media (max-width: 768px) {
    .categories-list {
        flex-direction: column;
        align-items: center;
    }

    .categories-list > li {
        margin: 10px 0;
    }
}

/* Barra de Pesquisa*/
.form-search {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-62%, -50%);
}

.form-search input[type="search"] {
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.form-search button[type="submit"] {
    border: none;
    cursor: pointer; 
}

.form-search button[type="submit"]:hover{
    background-color: #7a6aae;
}

.search-icon {
    height: 30px;
    width: 30px;
}

/* Configuracao de Conta */
.text-account-info {
    text-align: center;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 1%;
    display: block;
    width: fit-content;
}

.informacoes-de-conta {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 90%;
    margin-left: 150px;
}
  
.informacoes-de-conta h2 {
    margin-bottom: 50px auto;
    display: inline-block;
}
  
.info-personal, .info-adress {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
  
.info-personal p, .info-adress p {
    display: inline-flexbox;
}
  
.info-personal strong, .info-adress strong {
    display: inline-block;
}

.alterar-informacoes {
    margin: 50px 250px 50px 250px;
}

.alterar-informacoes h2 {
    text-align: center;
}

/* Botoes de Alterar Informacoes */
.alterar-informacoes .btn {
    margin: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}
  
.alterar-informacoes .btn-primary {
    background-color: #8dbdeb;
    color: #ffffff;
}
  
.alterar-informacoes .btn-primary:hover {
    background-color: #569fe2;
}
  
.alterar-informacoes .btn-secondary {
    background-color: #999999;
    color: #ffffff;
}
  
.alterar-informacoes .btn-secondary:hover {
    background-color: #777777;
}

/* Login */
.btn-primary {
    background-color: #78afe2;
    border-color: #569fe2;
    color: #ffffff;
}
