/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Header */
.bg-header {
    background-color: #9a8fc8;
    background-image: url('../public/images/pexels-photo-5490975.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 300px;
    text-shadow: #333;
}

header h1 {
    font-size: 4rem;
}

header p {
    font-size: 1.5rem;
}

/* Cartão de produtos */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
  
.card-title {
    color: #9a8fc8;
}

.card-text {
    color: #84b69f;
}

.card-img-top {
    height: 400px; 
    object-fit: cover;
    width: 100%;
}

#produtos {
    padding: 0 50px;
}

.container {
    max-width: 1140px; /* Limita a largura máxima do container */
  }


/* Footer */
footer {
    background-color: #84b69f;
    padding: 20px;
    color: white;
    font-size: 14px;
}

/* Estilo para os painéis de usuário e vendedor */
.list-group-item {
    background-color: #f8f9fa;
    color: #333;
}

.list-group-item a {
    text-decoration: none;
    color: #333;
}

.list-group-item a:hover {
    color: #9a8fc8;
    font-weight: bold;
}

h2 {
    color: #9a8fc8;
}

/* Ícones das redes sociais */
.socialsIcon {
    height: 35px;
    width: 35px;
    padding: 7px;
}