/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Estilização customizada da navbar */
.navbar-custom {
    background-color: #9a8fc8; 
}
  
.navbar-custom .navbar-brand, 
.navbar-custom .nav-link {
    color: #ffffff; 
}
  
.navbar-custom .nav-link:hover {
    color: #8dbdeb; 
}
  
.navbar-custom .nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid #ffffff; 
}
  
.navbar-toggler {
    background-color: #ffffff; 
}
  
.navbar-toggler-icon {
    filter: invert(100%);
}
  

/* Header */
.bg-header {
    height: 280px;
    padding-top: 60px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: #9a8fc8;
    background-image: url('../public/images/pexels-photo-5490975.jpeg'); 
}

header h1 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4);
}

header p {
    font-size: 1.5rem;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Cartão de produtos */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
  
.card-title {
    color: #9a8fc8;
}

.card-text {
    color: #84b69f;
}

.card-img-top {
    height: 400px; 
    object-fit: cover;
    width: 100%;
}

#produtos {
    padding: 0 50px;
}

.container {
    max-width: 1140px; /* Limita a largura máxima do container */
  }


/* Footer */
footer {
    background-color: #84b69f;
    padding: 20px;
    color: white;
    font-size: 14px;
}

/* Estilo para os painéis de usuário e vendedor */
.list-group-item {
    background-color: #f8f9fa;
    color: #333;
}

.list-group-item a {
    text-decoration: none;
    color: #333;
}

.list-group-item a:hover {
    color: #9a8fc8;
    font-weight: bold;
}

h2 {
    color: #9a8fc8;
}

/* Ícones das redes sociais */
.socialsIcon {
    height: 35px;
    width: 35px;
    padding: 7px;
}